.popper {
  max-width: 100%;
  width: 100%;
  z-index: var(--z-index-popper);

  .root {
    padding: 16px;
    position: relative;

    .delete-button {
      position: absolute;
      top: -16px;
      right: -16px;
      background-color: var(--gray-1);
    }
  }
}
