.root {
  background: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-header);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-links {
  a:not(:last-child) {
    margin-bottom: 8px;
  }
}
