$phoneWidthBreakpoint: 640px;
$mobileWidthBreakpoint: 1024px;
$desktopWidthBreakpoint: 1440px;

// Media queries.
$media-phone: "only screen and (max-width: #{$phoneWidthBreakpoint})";
$media-tablet: "only screen and (min-width: #{$phoneWidthBreakpoint + 1}) and (max-width: #{$mobileWidthBreakpoint})";
$media-desktop: "only screen and (min-width: #{$mobileWidthBreakpoint + 1})";
$media-large-desktop: "only screen and (min-width: #{$desktopWidthBreakpoint + 1})";

$media-non-phone: "only screen and (min-width: #{$phoneWidthBreakpoint + 1})";
$media-non-tablet: "only screen and (max-width: #{$phoneWidthBreakpoint}), (min-width: #{$mobileWidthBreakpoint})";
$media-non-desktop: "only screen and (max-width: #{$mobileWidthBreakpoint})";
$media-non-large-desktop: "only screen and (max-width: #{$desktopWidthBreakpoint})";

:export {
  phone: unquote($media-phone);
  tablet: unquote($media-tablet);
  desktop: unquote($media-desktop);
  largeDesktop: unquote($media-large-desktop);
  nonPhone: unquote($media-non-phone);
  nonTablet: unquote($media-non-tablet);
  nonDesktop: unquote($media-non-desktop);
  nonLargeDesktop: unquote($media-non-large-desktop);
}
