@import "./normalize.scss";
@import "./colors";
@import "./breakpoints";
@import "./zIndex";

body {
    font-family: Roboto, "Apple Casual", Corbel, "Microsoft JhengHei Fixed", "Microsoft JhengHei", sans-serif;
    background-color: var(--gray-1);
}

* {
    box-sizing: border-box;
}