.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding: 16px 0;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--gray-2);
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-left {
    display: flex;
    align-items: center;
}

.switch {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.select:focus {
    background-color: var(--white) !important;
}
