.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$media-phone} {
    flex-direction: column;
    align-items: start;
  }
}

.image-upload {
  margin: 0 8px;

  @media #{$media-phone} {
    align-self: flex-end;
    margin-top: 8px;
  }
}

.content {
  padding: 16px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--gray-2);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.action-left {
  display: flex;
  align-items: center;
}

.switch {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.select:focus {
  background-color: var(--white) !important;
}

.swap-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}
