.root {
    border-radius: 4px;
    border: 1px solid var(--gray-2);
    padding: 16px 24px;
    margin-bottom: 12px;
    cursor: pointer;

    &:hover:not(.active, .error) {
        border: 1px solid var(--gray-3);
    }
}

.active {
    border: 1px solid var(--green-1);
}

.error {
    border: 1px solid var(--red-1);
}
