.or {
  margin: 0 12px 0 8px;
}

.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.actions {
  margin-left: 4px;
  white-space: nowrap;
}
