.root {
  position: relative;
}

.or {
  margin: 0 12px 0 8px;
  white-space: nowrap;
}

.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  flex-wrap: wrap;
  gap: 4px;
}

.actions {
  white-space: nowrap;
}
